@import "reset.css";

.nav-item {
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
  margin: 0 36px;
}

.nav-menu {
  background-color: #ffffff;
  padding: 31.5px 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}


#image {
  width: 100%;
}

#title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 10px;
  color: #373737;
}

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 0 67.5px;
  margin-top: 38px;
}
/* 
.button {
  width: fit-content;
  background: #ff0000;
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 42px;
  border-radius: 4px;
  padding: 18px 42.5px;
}

#buttonText {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
} */
.button-container{

    margin: 0 auto;
    text-align: center;
}
.button{
    display: inline-block;
    margin-top: 66px;
    margin-bottom: 42px;
    background: #ff0000;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 18px 42.5px;
}

.footer {
  height: fit-content;
  padding: 29px 0;
}

#copyright {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 2.4px;
  color: #373737;
}
